

<style>
/* Apply these styles to ensure the footer sticks to the bottom of the page */
.footer {
    position: absolute;

}


</style>

<footer class="footer" >
    <div class="container-fluid">
      <nav class="float-left">
        <ul>

          <li>
            <a target="_blank" rel="noopener noreferrer" 
               href="https://fintraksoftware.com/">
                  <p style="font-weight: bold;">&copy; {{test | date: 'yyyy'}} - FinTrak Software CO LTD.</p>
            </a>
          </li>

        </ul>
      </nav>
      <!---<div class="copyright float-right">
        &copy; <a target="_blank" rel="noopener noreferrer" 
                  href="https://bit.ly/3fKQZaL">Creative Tim</a> 
                  - coded by <a target="_blank" rel="noopener noreferrer" href="https://appseed.us">AppSeed</a>
      </div> ---->
    </div>
</footer>


<!-- <footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
        </div>
    </div>
</footer> -->
